@(title: String)
<!Doctype html>
<html ng-app = "LunatechApp">
  <head>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

    <link rel="stylesheet" href="//cdn.datatables.net/1.10.12/css/jquery.dataTables.min.css">
    <!--link href="datatables.bootstrap.min.css" rel="stylesheet"-->

    <TITLE>@title</TITLE>
  </head>
  <body>
    <div class="container" ng-controller="LunatechAppCtrl">
      <h1></h1>
      <a href="/" class="btn btn-primary btn-lg"><span class="glyphicon glyphicon-home"></span> Home</a>
      <a href="/report" class="btn btn-primary btn-lg" role="button" aria-pressed="true">Report Page</a>
      <h1>Airport-Runway List</h1>
      <div class="col-sm-6">
        <input type="text" class="form-control" placeholder="Enter Country Code or Name" ng-model="ccn">
      </div>
      <button class="btn btn-primary" ng-click = getRunways()>Get Runways List</button>
        <div>
          &nbsp;
          <div ng-show="loading" class="loading"><img src="assets/images/loading.jpeg"></div>
        </div>
        <div class="col-sm-12">  
          <table datatable="ng" class="table table-striped table-bordered table-hover">
          <thead>
            <tr>
              <th>Runway Id</th>
              <th>Airport Name</th>
              <th>Runway Surface</th>
              <th>Runway Length</th>
              <th>Runway Width</th>
            </tr>
          </thead>
          <tbody>
          	<tr ng-repeat="runway in runways">
              <td>{{runway.id}}</td>
              <td>{{runway.airport.name}}</td>
	            <td>{{runway.surface}}</td>
	            <td>{{runway.lengthFt}}</td>
	            <td>{{runway.widthFt}}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.12/js/jquery.dataTables.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular.min.js"></script>
    <script src="assets/javascripts/angular-datatables.min.js"></script>
    <link rel="stylesheet" href="assets/stylesheets/angular-datatables.min.css">
    <script src="assets/javascripts/lunatechQueryApp.js"></script>
  </body>
</html>