@(title: String)
<!Doctype html>
<html ng-app = "LunatechApp">
  <head>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

    <link rel="stylesheet" href="//cdn.datatables.net/1.10.12/css/jquery.dataTables.min.css">
    <!--link href="datatables.bootstrap.min.css" rel="stylesheet"-->

    <TITLE>@title</TITLE>
  </head>
  <body>
    <div class="container" ng-controller="LunatechAppCtrl">
      <h1></h1>
      <a href="/" class="btn btn-primary btn-lg"><span class="glyphicon glyphicon-home"></span> Home</a>
      <a href="/query" class="btn btn-primary btn-lg" role="button" aria-pressed="true">Query Page</a>
    <div>
        &nbsp;
        <div ng-show="loading" class="loading"><img src="assets/images/loading.jpeg"></div>
      </div>
      <!-- Table to show countries with high airport count -->
      <h3>Report 1.1: Countries - High Airport Count</h3>
      <div class="col-sm-12">  
        <table datatable="ng" dt-options="dtOptions" class="table table-striped table-bordered table-hover">
          <thead>
            <tr>
              <th>Country Id</th>
              <th>Country Name</th>
              <th>Country Code</th>
              <th>Num of Airports</th>
              <th>Wikipedia Link</th>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="country in countriesHigh">
              <td>{{country.id}}</td>
              <td>{{country.name}}</td>
              <td>{{country.code}}</td>
              <td>{{country.num_airport}}</td>
              <td>{{country.wikipedia_link}}</td>
            </tr>
          </tbody>
        </table>
      </div>

      <!-- Table to show countries with low airport count -->
      <h3>Report 1.2: Countries - Low Airport Count</h3>
      <div class="col-sm-12">  
        <table datatable="ng" dt-options="dtOptions" class="table table-striped table-bordered table-hover">
          <thead>
            <tr>
              <th>Country Id</th>
              <th>Country Name</th>
              <th>Country Code</th>
              <th>Num of Airports</th>
              <th>Wikipedia Link</th>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="country in countriesLow">
              <td>{{country.id}}</td>
              <td>{{country.name}}</td>
              <td>{{country.code}}</td>
              <td>{{country.num_airport}}</td>
              <td>{{country.wikipedia_link}}</td>
            </tr>
          </tbody>
        </table>
      </div>

      <!-- Table to show countries with low airport count -->
      <h3>Report 2: Country - List of Runway Surface Type</h3>
      <label for="mySelect">Select a country:</label>
      <select name="mySelect" id="mySelect" ng-change="getSurface()"
        ng-options="country.name for country in countries track by country.code"
        ng-model="countryCode">
      </select>
      <div class="col-sm-12">  
        <table datatable="ng" dt-options="dtOptions2" class="table table-striped table-bordered table-hover">
          <thead>
            <tr>
              <th>Surface</th>
              <th>Num of Surface</th>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="surface in surfaces">
              <td>{{surface.surface}}</td>
              <td>{{surface.num_surface}}</td>
            </tr>
          </tbody>
        </table>
      </div>

      <!-- Table to show top 10 common runway identification -->
      <h3>Report 3: Runway - Top 10 Common Identifications</h3>
      <div class="col-sm-12">  
        <table datatable="ng" dt-options="dtOptions2" class="table table-striped table-bordered table-hover">
          <thead>
            <tr>
              <th>Identification</th>
              <th>Num. Identification</th>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="runwayIdent in runwayIdents">
              <td>{{runwayIdent.le_ident}}</td>
              <td>{{runwayIdent.num_le_ident}}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.12/js/jquery.dataTables.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular.min.js"></script>
    <script src="assets/javascripts/angular-datatables.min.js"></script>
    <link rel="stylesheet" href="assets/stylesheets/angular-datatables.min.css">
    <script src="assets/javascripts/lunatechReportApp.js"></script>
  </body>
</html>